* {
  padding: 0;
  margin: 0;
}

html {
  text-rendering: optimizeLegibility;
  font-family: 'Segoe UI';
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url('./bg.png');
}

.sbar::-webkit-scrollbar {
  background-color: rgba(208, 161, 251, 0.75);
  width: 10px;
}

.sbar::-webkit-scrollbar-thumb {
  background-color: #422550;
}

.sbar::-webkit-scrollbar-button {
  display: none;
}

.title {
  margin-top: 0.5%;
  color: white;
  display: flex;
  justify-content: center;
  text-shadow: 3px 4px 20px rgb(0, 0, 0);
  text-align: center;
}

.tip {
  margin-top: 10px;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 4px 20px rgb(0, 0, 0);
  text-align: center;
}

.new-note {
  width: 120px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgba(117, 117, 117, 0.55);
  color: white;
  padding: 10px;
  margin-left: 10px;
  box-shadow: 3px 3px 8px 1px black;
  z-index: 1;
  font-weight: bolder;
  font-size: large;
}

.new-note:hover {
  animation-name: btn-hover;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes btn-hover {
  100% {
    border: 3px solid rgb(57, 255, 20);
    box-shadow: 0px 0px 8px 1px rgb(57, 255, 20);
  }
}

.reset-app {
  width: 120px;
  position: fixed;
  bottom: 90px;
  right: 30px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgba(117, 117, 117, 0.55);
  color: white;
  padding: 10px;
  margin-left: 10px;
  box-shadow: 3px 3px 8px 1px black;
  z-index: 1;
  font-weight: bolder;
  font-size: large;
}

.reset-app:hover {
  animation-name: reset-app-hover;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes reset-app-hover {
  100% {
    border: 3px solid rgb(255, 20, 20);
    box-shadow: 0px 0px 8px 1px rgb(255, 20, 20);
  }
}

.note-container {
  box-sizing: border-box;
  display: grid;
  grid-auto-rows: 400px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
}

.note {
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 25px;
  background-color: rgba(26, 26, 26, 0.75);
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 8px 1px black;
  overflow-y: scroll;
}

.note-title {
  left: 50%;
  font-weight: bolder;
  text-align: center;
  color: rgba(245, 245, 220, 0.75);
}

.note-content {
  color: rgba(255, 255, 255, 0.75);
}

.note-title:focus-visible {
  outline: none;
  animation-name: title-focus;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes title-focus {
  100% {
    color: rgba(245, 245, 220, 1);
  }
}

.note-content:focus-visible {
  outline: none;
  animation-name: content-focus;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes content-focus {
  100% {
    color: rgb(255, 255, 255, 1);
  }
}

.note-separator {
  border: 1px solid rgba(0, 0, 0, 0.75);
  margin-top: 10px;
  margin-bottom: 2px;
}

.save-btn,
.del-btn {
  border: 2px solid black;
  border-radius: 20px;
  width: fit-content;
  background-color: rgba(26, 26, 26, 0.75);
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 15px;
  box-shadow: 3px 3px 8px 1px black;
}

.save-btn:hover,
.del-btn:hover {
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.save-btn:hover {
  animation-name: save-btn-hover;
}

@keyframes save-btn-hover {
  100% {
    border: 2px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    box-shadow: 0px 0px 8px 1px rgba(0, 255, 0, 0.75);
  }
}

.del-btn:hover {
  animation-name: del-btn-hover;
}

@keyframes del-btn-hover {
  100% {
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    box-shadow: 0px 0px 8px 1px rgba(255, 0, 0, 0.75);
  }
}

.note::-webkit-scrollbar-track,
.note::-webkit-scrollbar,
.note::-webkit-scrollbar-thumb {
  display: none;
}
